.containers{
     
    background: url('/public/images/white.jpg') center center/cover no-repeat;
    height: 92vh;
    width: 100%;
    color: #e7ebda;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;


}

.shadow{
     
    background-image: url('../assets/registerbags.jpg');


}

.topics {
    
    margin-bottom: 10000px;
    /* width: 100px;
    padding-right: 200px;
    margin-right: 900px;
    padding-left: 20px; */
   }

   .cards-body {
    
    margin-top: -60px;
    width: 100px;
    padding-right: 20px;
    margin-right: 20px;
    padding-left: 20px;
   } 

   .cards-body > img 
    {
    margin-left: -330px;
    margin-top: -150px;
    background: url('/public/images/logo2.png') center center/cover no-repeat;
    position:absolute;
    height: 80px;
    width: 150px;
    animation: rotation 2s infinite linear;
    }

    .labelname{
        color:rgb(26, 73, 114);
    }
    

    .bb{
        color: black;
        margin-left: 30px;
    }

    .abc{
        width: 125px;
        font-size: 15px;
    }

    .btn{
        width: 90px;
        background-color:rgb(151, 123, 123);
    }