@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}

/* .video {
  
    object-fit:contain;
    width: 100%;
    height: 120%;
    position:absolute;
    z-index: -1;
  
  
    
  } */

  .clip{
    height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: rgb(0, 0, 0); */
  font-size: 30px;
  }

.venues-body {
  background: url('/public/images/back.jpg') center center/cover no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
}
/* .heading{
    margin-left: 550px;
} */
.venues-container {
  /* display: flex; */
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 190px;
 
}
.cards {
  /* background: url('/public/images/img-footer.jpg') center center/cover no-repeat; */
  
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.cards-header img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.cards-body {
  margin-top: 20px;
  margin-left: 360px;
  /* margin: auto; */
  margin-bottom: 60px;
  width: 300px;
  background-color: rgb(53, 69, 85);
  
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  padding: 15px;
  color: #fff;
  box-shadow: 0 2px 20px rgb(0, 0, 0);
  border-radius: 50px;
}

.tag {
  
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tags {
  
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  width: 105px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0f71a6;
}
.tag-teal {
  background-color: #0f71a6;
  
}

.links{
  background-color:#0f71a6;
  box-shadow: 0 2px 20px rgba(255, 255, 255, 0.492);
  width: 35px;
  margin-left: 150px;
  margin-top: -20px;
  margin-bottom: 50px;
  
  
}



