.headcontainer{
    /* background-image: url('/public/images/img-footer.jpg') ; */
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
  object-fit: contain;
  }

  .text{
    color: wheat;
    
  }

  .form-control{
    width: 300px;

margin-left: 50px;
justify-content: center;
}

  .button{
    margin-left: 160px;
  }

  .forms-group{
    margin-left: 80px;
  }

  .texts{
    margin-left: 50px;
  }