
.videoss {
  
  object-fit:scale-down;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: -1;
  background-repeat: no-repeat;
margin-top: -3400px;

  
}

.login {
  height: 90vh;
  width: 1620px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* color: rgb(0, 0, 0); */
  font-size: 30px;
  
}

.loginsecond {
  
  height: 82.5vh;

  margin-right: 50px;
  margin-left: 350px;
  /* margin-top: 70px; */

  width: 50%;

  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.336);
  /* background-image: url("/public/images/loginnn.jpg"); */
  background-repeat: no-repeat;
  object-fit: contain;
}

.letstry{
  height:190px;

  margin-left: -550px;
  margin-top: -120px;


  display: flex;
  flex-direction: column;

  
}

.login-label {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 6px;
  color: #fff;
  margin-left: 100px;
  margin-top: -100px;
}

.login-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  margin-left: 300px;
  font-size: small;
}

.txtc {
  color: rgb(249, 249, 249);
  margin-left: 400px;
}
.login-input-btn {
  width: 20%;
  height: 50px;
  margin-top: 1520px;
  margin-left: 300px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(56, 37, 204) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.login-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(238, 255, 0) 0%,
    rgb(189, 84, 24) 100%
  );
  transition: all 0.4s ease-out;
}

.formgroup {
  margin-top: 30px;
  margin-right: 200px;
}

.topiclabel {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(40, 41, 43) 0%,
    rgb(166, 117, 89) 100%
  );
  transition: all 0.4s ease-out;
  color: #fff;
  margin-left: 400px;
  margin-top: -100px;
}

