.containerfor {
    background: url('/public/images/coffee.jpg') center center/cover no-repeat;
   /* display: block; */
   /* flex-flow: column; */
   /* align-items: center; */
   padding: 2rem;
   /* height: 200vh; */
   /* width: 100%; */
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
   height: 700px;
   
   /* object-fit: contain; */
   

 }



 .designfor {
 
       /* display: flex; */
       width: 140px;
       justify-content: space-evenly;
       /* flx-wrap: wrap; */
      
     
   

 }
 .wraps {
  margin-top: 80px;
   
   background-color: transparent;
   border-radius: 10px;
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   overflow-y: scroll;
   width: 1300px;
   height: 450px;
   margin-left: 40px;
 }

 

 .maintheme{
   margin-top: 50px;
 margin-left: 50px;
 /* margin: auto; */
 margin-bottom: 60px;
 width: 320px;
 height: 330px;
 overflow-y: scroll;
 background-color: rgba(33, 34, 35, 0.441);
 
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: flex-start;
 padding: 15px;
 color: #fff;
 box-shadow: 0 2px 20px rgb(0, 0, 0);

 }

 .btn1{
   margin-left: 20px;
   background-color: rgb(154, 205, 234);
   border-radius: 10px;
 }

 .btn2{
   margin-left:100px;
   margin-top: -5px;

 }

 .btn3{
   margin-left: 180px;
   margin-top: -25px;
   background-color:rgb(154, 205, 234);
   
 }

 .topichead{
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 50px;
  color: rgb(173, 226, 209);
 }


.img-thumbnail{
  height: 100px;
  width: 100px;
}
