.containersfor {
    background: url('/public/images/img-about.jpg') center center/cover no-repeat;
   /* display: block; */
   /* flex-flow: column; */
   /* align-items: center; */
   padding: 2rem;
   /* height: 200vh; */
   /* width: 100%; */
   /* display: flex; */
   /* flex-direction: column; */
   /* justify-content: center; */
   /* align-items: center; */
   box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
   /* object-fit: contain; */
   height: 100%;
   

 }



 .designsfor {
 
       /* display: flex; */
       width: 140px;
       justify-content: space-evenly;
       flex-wrap: wrap;
      
     
   

 }
 .wrapss{
  
   
   background-color: rgba(174, 164, 164, 0.678);
   border-radius: 10px;
   box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   overflow-y: scroll;
   width: 1300px;
   height: auto;
   margin-left: 40px;
 }

 

 .mainthemes{
   margin-top: 20px;
 margin-left: 50px;
 /* margin: auto; */
 margin-bottom: 60px;
 margin-right: 50px;
 width: auto;
 height: 350px;
 background-color: rgb(0, 0, 0);
 overflow-y:scroll;
 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 align-items: flex-start;
 padding: 15px;
 color: #fff;
 box-shadow: 0 2px 20px rgb(0, 0, 0);

 }
 
 .topicscenter{
    color:rgb(53, 135, 212);
    font-style: italic;
    font-weight: bolder;
    text-shadow: rgb(11, 9, 9);
    margin-left: -100px;
 }

 .topiccenter{
  color:rgb(184, 196, 207);
  font-style: italic;
  font-weight: bolder;
 margin-left: 250px;
 margin-top: -55px;
}

 
